//= require reset
//= require_self

@import "bourbon";

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "IconicStroke";
  src: local("IconicStroke"), url("iconic.ttf") format("truetype");
}

body {
  padding: 0 0 32px 0;
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

body > header {
  background: #DC9;
  color: #432;
  padding: 28px 0 45px 0;

  h1 {
    a {
      background: #DC9;
      color: #432;
      font: bold 48px/1 Arvo, Helvetica, Arial, Sans-serif;
      text-decoration: none !important;
    }

    span {
      display: inline-block;

      &:nth-child(1)  { margin: 0 -2px 0 0; }
      &:nth-child(2)  { margin: 0 -1px 0 0; }
      &:nth-child(3)  { margin: 0 1px 0 0; }
      &:nth-child(4)  { margin: 0 -1px 0 0; }
      &:nth-child(5)  { margin: 0 -1px 0 0; }
      &:nth-child(6)  { margin: 0 -3px 0 0; }
      &:nth-child(7)  { margin: 0 -1px 0 0; }
      &:nth-child(8)  { margin: 0 -3px 0 0; }
      &:nth-child(9)  { margin: 0 -1px 0 0; }
      &:nth-child(10) { margin: 0 -1px 0 0; }
    }
  }

  h2 {
    position: absolute;
    bottom: -12px;
    left: 66px;
    font: normal 12px/1 "Helvetica Neue Light", HelveticaNeue-Light, Helvetica, Arial, Sans-serif;
  }
}

#sign-up a {
  @include inline-block;
  @include border-radius(6px);
  @include linear-gradient(-90deg, #6EAE3C 0%, #6EAE3C 50%, #53961F 50%, #53961F 100%);

  position: absolute;
  top: 8px;
  right: 4px;
  background-color: #6EAE3C;
  color: #FFF;
  padding: 10px 16px 12px 46px;
  border: 0;
  font: bold 16px/1 "Helvetica Neue Light", HelveticaNeue-Light, Helvetica, Arial, Sans-serif;
  text-align: center;
  text-shadow: 0px -1px 1px rgba(45, 104, 64, 0.7);
  text-decoration: none;

  &:hover {
    @include linear-gradient(-90deg, #7EBE4C 0%, #7EBE4C 50%, #63A62F 50%, #63A62F 100%);

    background-color: #7EBE4C;
  }

  &:before {
    position: absolute;
    top: 6px;
    left: 12px;
    background: transparent;
    color: #FFF;
    font: 32px "IconicStroke";
    content: "k";
  }
}

#sign-in {
  position: absolute;
  top: 50px;
  right: 4px;
  width: 247px;
  font: normal 11px/1 "Helvetica Neue Light", HelveticaNeue-Light, Helvetica, Arial, Sans-serif;
  text-align: center;
}

#current-user {
  position: absolute;
  top: 25px;
  right: 4px;
  font: normal 12px/1 "Helvetica Neue Light", HelveticaNeue-Light, Helvetica, Arial, Sans-serif;
}

#sign-in,
#current-user {
  a {
    background: transparent;
    color: #432;
    border-bottom: 1px solid #432;

    &:hover {
      color: #000;
      border-color: #000;
      text-decoration: none;
    }
  }
}

.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
}

section > section {
  width: 672px;
  float: left;
}

section {
  &.container {
    padding-top: 48px;
    overflow: hidden;
  }

  header {
    position: relative;
    margin: 0 0 8px 0;

    h1 {
      background: transparent;
      color: #000;
      font-size: 24px;
      font-weight: normal;
      line-height: 1;
    }
  }

  p.warning + header {
    margin-top: 0;
    padding-top: 16px;
  }

  h2 {
    background: transparent;
    color: #333;
    margin: 0 0 8px 0;
    padding: 8px 0 0 0;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
  }

  p,
  ol,
  label {
    margin: 0 0 14px 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4;
  }

  label {
    margin: 12px 0 2px 0;
    font-weight: bold;
    display: block;
  }

  form > div {
    overflow: hidden;
  }

  input {
    width: 240px;
    padding: 4px;
    font-size: 12px;
    outline: 0;
    float: left;
  }

  .field_with_errors input {
    background: #FEE;
    margin-right: 8px;
  }

  button {
    margin: 16px 0 0 0;
  }

  p.error {
    color: #900;
    margin: 0;
    height: 20px;
    font-size: 12px;
    line-height: 26px;
    overflow: hidden;
  }

  p.alert,
  p.warning {
    position: relative;
    background: #FFF2AF;
    color: #222;
    padding: 10px 10px 10px 34px;
    border: 1px solid #EEB;

    &:before {
      position: absolute;
      top: 5px;
      left: 10px;
      color: #222;
      font-size: 24px;
      font-family: "IconicStroke";
      content: "s";
    }
  }

  p.alert {
     background: #FAA;
     color: #000;
     border-color: #F66;

    &:before {
      top: 6px;
      color: #000;
      content: "x";
    }
  }

  a {
    background: transparent;
    color: #27A;

    &:hover span {
      text-decoration: underline;
    }
  }

  aside {
    width: 256px;
    float: right;

    header {
      margin: 32px 0 0 0;

      &:first-child {
        margin: 0;
      }
    }

    h1 {
      font-size: 18px;
      font-weight: bold;
      line-height: 1;
    }

    & > ul {
      background: inherit;
      color: #888;
      margin: 10px 0 4px 18px;
      font-size: 14px;
      font-weight: normal;
      line-height: 1.4;
    }

    dt {
      position: relative;
      color: #222;
      margin: 10px 0 4px 16px;
      padding: 4px 20px;
      font-size: 14px;
      font-weight: bold;
      line-height: 1;

      &:before {
        position: absolute;
        top: 4px;
        left: 0;
        color: #222;
        font-size: 18px;
        font-family: "IconicStroke";
        content: "d";
      }
    }
  }

  dd {
    background: transparent;
    color: #555;
    margin: 0 0 0 36px;

    ul {
      list-style: none;
    }

    li {
      font: normal 12px/1.8 Monaco, Monospace;

      a span {
        width: 42px;
        text-align: right;
        display: inline-block;
      }
    }
  }
}


table {
  width: 100%;
  margin: 0 0 20px 0;
  border-top: 1px solid #EEE;
  border-left: 1px solid #EEE;
  border-spacing: 0;
  font-size: 14px;
  line-height: 1.5;

  thead th {
    background: #F4F4F4;
    color: #444;
    padding: 6px;
    border-right: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    font-size: 12px;
    text-align: left;
  }

  tbody {
    tr.nested td:nth-child(1) {
      padding-left: 23px;
    }

    td {
      background: #FFF;
      color: #555;
      padding: 6px;
      border-right: 1px solid #EEE;
      border-bottom: 1px solid #EEE;
      font-size: 12px;
      text-align: left;
      vertical-align: top;

      span {
        font-size: 11px;
        font-style: italic;
        display: block;
      }
    }
  }

  &.errors tbody tr td:nth-child(1),
  &.parameters tbody tr td:nth-child(1),
  &.parameters tbody tr td:nth-child(2) {
    width: 80px;
  }

  &.errors tbody tr td:nth-child(3) {
    width: 360px;
  }
}

footer {
  margin: 48px auto 0 auto !important;
  padding: 8px 0 0 8px;
  border-top: 1px solid #EEE;
  font: normal 11px/1.6 "Helvetica Neue Light", HelveticaNeue-Light, Helvetica, Arial, Sans-serif;

  a {
    background: transparent;
    color: #555;
    font-weight: bold;
  }
}

.highlight {
  background: #FAFAFA;
  color: #000;
  margin: 0 0 14px 0;
  border: 1px solid #EEE;

  pre {
    padding: 12px;
    font-size: 12px;
  }

  .k        { font-weight: bold; }
  .mi       { color: #099; }
  .na       { color: #008080; }
  .nt       { color: #000080; }
  .o        { font-weight: bold; }
  .s        { color: #D14; }
  .s1       { color: #D14; }
  .s2       { color: #D14; }
  .variable { color: #F00; font-weight: bold; }
  .kd       { font-weight: bold; }
}
